---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<video width="100%" controls muted autoplay loop>
  <source src="/images/COaxially Aligned STeerable (COAST) Guidewire Robot withIntegrated Shape and Force Sensing - Hamlyn Symposium on Medical Robotics (720p, h264, youtube).mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

